@model Survey.Models.SURVEY_QUESTIONS

<h2>Adding an existing question to a survey</h2>
<h4>If you need to add a question, click on the Question Bank tab.</h4>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Survey Title</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.survey_id, "Title")
        </div>
        <div class="editor-field">
            @Html.DropDownList("survey_id", String.Empty)
            @Html.ValidationMessageFor(model => model.survey_id)
        </div>      

        <div class="editor-label">
            @Html.LabelFor(model => model.question_id, "QUESTION")
        </div>
        <div class="editor-field">
            @Html.DropDownList("question_id", String.Empty)
            @Html.ValidationMessageFor(model => model.question_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.section_id, "SURVEY SECTION")
        </div>
        <div class="editor-field">
            @Html.DropDownList("section_id", String.Empty)
            @Html.ValidationMessageFor(model => model.section_id)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
