@model Survey.Models.SURVEY_QUESTIONS

<h2>Adding an existing question to a survey</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Survey Title</legend>
        <p></p>
        <p></p>
        <h3>If the drop down for question is empty or you need to add a question click the link below</h3>
        <div>
            @Html.ActionLink("Add a question", "../Questions/Create")
        </div>
        <h3>If the drop down for survey section is empty or you need to add a survey section click the link below</h3>
        <div>
            @Html.ActionLink("Add a survey section", "../SurveySections/Create/1")
        </div>
        <p></p>
        <p></p> 
        <div class="editor-label">
            @Html.LabelFor(model => model.survey_id, "Title")
        </div>
        <div class="editor-field">
            @Html.DropDownList("survey_id", String.Empty)
            @Html.ValidationMessageFor(model => model.survey_id)
        </div>      

        <div class="editor-label">
            @Html.LabelFor(model => model.question_id, "QUESTION")
        </div>
        <div class="editor-field">
            @Html.DropDownList("question_id", String.Empty)
            @Html.ValidationMessageFor(model => model.question_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.section_id, "SURVEY SECTION")
        </div>
        <div class="editor-field">
            @Html.DropDownList("section_id", String.Empty)
            @Html.ValidationMessageFor(model => model.section_id)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
