@model IEnumerable<Survey.ViewModels.SurveyReponses>
@{
    ViewBag.Title = "Answer Details";
    
}

<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.custom.min.js")" type="text/javascript"></script>

<h2>Survey Answer Stats</h2>
<h3>There were  @ViewBag.surveyAnswered  surveys answered.</h3>


<table>
    <tr>
        <th>
            Question ID
        </th>
        <th>
            Question
        </th>
        <th>
            Answer ID
        </th>
        <th>
            Average Answer
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @item.questionID
        </td>
        <td>
            @item.questionText
        </td>
        <td>
            @item.answerID
        </td>
        <td>
            @item.submittedAnswer
        </td>
    </tr>
}

</table>
