@{ 
    ViewBag.Title = "Courses Available to Survey"; 
} 

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" /

@using PagedList.Mvc;
@using PagedList; 

<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.custom.min.js")" type="text/javascript"></script>

<h2>This list of courses are set to complete or 7 days past the activities last end date. </h2>
<h4>Not Available means the course participates have already been sent a survey or this course was disabled for surveying.</h4>


<p>
</p>

<table>
    <tr>
        <th>
            <strong> Select a course </strong>
        </th>
@*        <th>
            <strong> Multiple course selection <br /></strong>
            <strong>for surveying COMING SOON!!!</strong>
        </th>
        <th>
         @Html.ActionLink("Activity ID", "Index", new { sortOrder = ViewBag.ActivitySortParm })
         </th>

        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm })
        </th>
        <th>
            @Html.ActionLink("Course", "Index", new { sortOrder = ViewBag.CourseSortParm })
        </th>

      <th> 
        @Html.ActionLink("Barcode", "Index", new { sortOrder = ViewBag.BarcodeSortParm }) 
    </th> 
*@      
        <th>
            <strong> Activity ID </strong>
        </th>
        <th>
            <strong> Activity Title - Course Title </strong>
        </>
        <th>
            <strong> Course Number </strong>
        </th>
        <th>
            <strong> Barcode </strong>
        </th>

        <th>
            <strong> Last Start Date </strong>
        </th>
        <th>
            <strong> Last End Date </strong>
        </th>
        <th>
            <strong> Course Status in CLASS </strong>
        </th>
        <th>
            <strong> Course Survey Status </strong>
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.OnePageOfCourses) 
{
    var StatusOfSurvey = "";
    var ExpirationDate = "";
    var start_date = item.last_start_datetime.ToString("MM/dd/yyyy");
    var last_date = item.last_end_datetime.ToString("MM/dd/yyyy");
    var Title = "";
    Title = @item.ACTIVITY.title + "-" + @item.title;    
 
    
    foreach (var survey in ViewBag.SurveyStatus)
    {
        if (item.course_id == survey.course_id)
        {
            StatusOfSurvey = survey.course_status1;
            ExpirationDate = survey.survey_exp_date.ToString("MM/dd/yyyy");  
        }
        
    }
    <tr>
        @if (StatusOfSurvey == "")
        {
            <td>
                @Html.ActionLink("Select", "../Person/Details", new { id = item.course_id })
            </td>
        }
        else 
        {
            <td>
                <font style="color:red">
                Survey expires 
                @ExpirationDate</font>
            </td> 
        }
        <td>
            @item.activity_id
        </td>
        
        @if (StatusOfSurvey == "")
        {
            <td>
                @Title
            </td>
        }
        else
        {

            <td><strong> 
                @Html.ActionLink(Title, "AnswerDetails", new { id = item.course_id })
                </strong>
            </td>
        }
        <td>
            @item.course_id
        </td>
        <td>
            @item.barcode_number
        </td>
        <td>
            @start_date
        </td>
        <td>
            @last_date
        </td>
        <td>
            @item.course_status_id   
        </td>
        <td><strong>
            @StatusOfSurvey
            </strong>
        </td>
    </tr>
 }
</table>

   @Html.PagedListPager((IPagedList)ViewBag.OnePageOfCourses, page => Url.Action("Index", new { page = page}))

