@*@{
    Layout = null;
    Response.ContentType = "application/vnd.ms-excel";
    Response.AddHeader("Content-Disposition", "attachment; filename=EvaluationReport.xls"); 

}*@


<style type="text/css">
.button {
border:1px solid #000;
background:green;
color:#FFF;
font-weight:bold;
}
</style>

<script type="text/javascript">
    function setTable(what, button) {
        if (document.getElementById(what).style.display == "none") {
            document.getElementById(what).style.display = "block";
        }
        else if (document.getElementById(what).style.display == "block") {
            document.getElementById(what).style.display = "none";
        }
    }

    function getChart() {
        $.ajax({
            url: ('/Report/Chart'),
            type: 'GET',
            cache: false,
            success: function (result) {
                alert(result.length);
                $('#BottomGrid').append('<img id="Chart" />');
                $('#Chart').attr("src", "/Report/Chart")
            },
            error: function () { alert("error"); }
        });
    }
</script>

<html> 
  <head> 
    <!--Load the AJAX API--> 
    <script type="text/javascript" src="https://www.google.com/jsapi"></script> 
    <script type="text/javascript">

        // Load the Visualization API and the piechart package. 
        google.load('visualization', '1.0', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded. 
        google.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table, 
        // instantiates the pie chart, passes in the data and 
        // draws it. 

        function drawChart() {
        
            // Create the data table. 
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([['Answered',  @ViewBag.Answered], ['No Response', @ViewBag.NoResponse]]);
            

            // Set chart options 
            var options = { 'title': 'Evaluation Response',
                'width': 400,
                'height': 300,
                'colors': ['#9900CC', '#00CC00']

            };

            // Instantiate and draw our chart, passing in some options. 
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

    </script> 
  </head> 
 
  <body> 
    <!--Div that will hold the pie chart--> 
    <div id="chart_div"></div>
  </body> 


<h2>@ViewBag.title</h2>

<h2>@ViewBag.title</h2>
<p>Response Rate =  @ViewBag.Percent %<br /></p>
<p></p>
<p>Courses Surveyed = @ViewBag.surveyCount</p>
<h3>Total Surveys Sent = @ViewBag.Sent</h3>
<p></p>



<table>
<tr>
    <th width=33%><strong> Answer Scale of 1(Unsatisifed) to 5 (Very Satisfied) </strong></th>
    <th><strong> Question </strong></th>
</tr>

@foreach (var question in ViewBag.questiontext)
{
    string buttonName = Convert.ToString(@question.questionID) + "button";
    string hasTable = "";
    <tr>
      
    <td>
    @{
    string type = question.answerType;
    switch (type.Trim())
    {
        case "Scale":
            foreach (var a in ViewBag.Scale)
            {
                if (question.questionID == a.questionID)
                {
                    hasTable = "No";
                    @a.responseScale.ToString("n2")
                }
            }
            break;

        case "Answer_long":
                     <br />
                     <table id="@question.questionID" style="display:none;" width="350">
                     @foreach (var a in ViewBag.Long)
                     {
                            <tr>
                            @if (question.questionID == a.questionID)
                            {
                                hasTable = "Yes";
                                <td>* @a.responseLong</td>
                            }
                            </tr>
                     }
                    </table>
                     break;

        case "Answer_short":
                
                <table id="@question.questionID" style="display:none;" width="350">

                     @foreach (var a in ViewBag.Short)
                     {
                            <tr>
                            @if (question.questionID == a.questionID)
                            {
                                hasTable = "Yes";
                                <td> * @a.responseShort</td>
                            }
                            </tr>
                     }
                </table>
                     break;

        case "True_False":
                   <br />
                   <table>
                   @foreach (var tf in ViewBag.TF)
                   {
                       <tr>
                       @if (question.questionID == tf.questionID)
                       {
                           hasTable = "No";
                            <td>@tf.responseTF</td>
                            <td>@tf.count</td> 
                       }
                       </tr>
                   }
                   </table>
                   break;

        case "Multi-Choice":
              <br />
                <table>
                    @foreach (var m in ViewBag.Multi)
                    {
                        <tr>
                        @if (question.questionID == m.questionID)
                        {
                            hasTable = "No";
                            <td>@m.responseMultiChoice</td>
                            <td>@m.count</td> 
                        }
                        </tr>
                    }
                    </table>
                    break;
        case "Multi-Choice-multi":
                <br />
                <table>
                    @foreach (var m in ViewBag.Multi)
                    {
                        <tr>
                        @if (question.questionID == m.questionID)
                        {
                            hasTable = "No";
                            <td>@m.responseMultiChoice</td>
                            <td>@m.count</td> 
                        }
                        </tr>
                    }
                    </table>
                    break;

        default:
                    break;
    }

}
        </td>
        <td valign="top">
        <strong> @question.questionText </strong>
        @if (hasTable == "Yes")
        {
           <input class="button" id="@buttonName" type="button" value="Hide/View Responses"  style="display:block" onclick="setTable('@question.questionID');return false" />
        }
        else
        {
          <input class="button" id="@buttonName" type="button" value="Hide/View Responses"  style="display:none" onclick="setTable('@question.questionID');return fales" />
        }
        </td>

    </tr>
}
</table>  
