````````````````````````````````````````@model Survey.Models.SURVEY

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SURVEY</legend>

    <div class="display-label">title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">header_text</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.header_text)
    </div>

    <div class="display-label">survey_status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.survey_status)
    </div>

    <div class="display-label">lifetime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lifetime)
    </div>

    <div class="display-label">datestamp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.datestamp)
    </div>

    <div class="display-label">user_stamp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user_stamp)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
