@model PagedList.IPagedList<Survey.Models.SURVEY>

<h2>Available Surveys</h2>

@{
    ViewBag.Title = "Index";
}

 <p>
      @Html.ActionLink("Create a Survey", "Create")
 </p>

@using (Html.BeginForm())
{ 
    <p> 
        Find by Title: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string) &nbsp; 
        <input type="submit" value="Search" />
    </p> 
} 

<table>
    <tr>
         <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm })
        </th>
        <th>
            <strong> Survey Header </strong>
        </th>
        <th>
            <strong> Survey Status </strong>
        </th>
        <th>
            <strong> View Survey </strong>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.header_text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.survey_status)
        </td>
        <td>
            @Html.ActionLink("Survey Details", "Details", new { id = item.survey_id })
        </td> 
    </tr>
}
</table>

@Html.Partial("_Paging")