@model PagedList.IPagedList<Survey.ViewModels.QuestionDetails>

@{
    ViewBag.Title = "List of all available questions";
}

<h2>List of all available questions</h2>

<p>
    @Html.ActionLink("Create New Question" , "Create") 
</p>
<table>
    <tr>
        <th>
            Question Text
        </th>
        <th>
            Answer Type
        </th>
        <th></th>
        <th></th>
         <th>
            Date Created
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.questionText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.answerTypeName)
        </td>
        <th></th>
        <th></th>
        <td>
            @Html.DisplayFor(modelItem => item.dateCreated)
        </td>
@*        <td>
            @Html.ActionLink("Details", "Details", new { id=item.questionID })  
        </td>*@
    </tr>
}

</table>
@Html.Partial("_Paging")