@model IEnumerable<Survey.Models.PERSON>
           
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using PagedList.Mvc;
@using PagedList;             

@{
    ViewBag.Title = "Index";
}

<h2>Participates in Parks and Recreation Activites</h2>

<p>
</p>

@using (Html.BeginForm())
{ 
    <p> 
        Find by Last name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string) &nbsp; 
        <input type="submit" value="Search" />
    </p> 
} 

<table>
    <tr>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastnameSortParm })
        </th>
        <th>
            <strong> First Name </strong>
        </th>

      <th> 
        @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm }) 
    </th> 
        <th>
            <strong> Email Privacy </strong>
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.OnePageOfPeople) 
{
    <tr>
        <td>
            @item.last_name
        </td>
        <td>
            @item.first_name
        </td>
        <td>
            @item.email_address
        </td>
        <td>
            @item.email_private
        </td>
    </tr>
}
</table>

   @Html.PagedListPager((IPagedList)ViewBag.OnePageOfPeople, page => Url.Action("Index", new { page = page }))