
<h2><a style="color:Maroon">Overall @ViewBag.totPercent % of survey completed as of: @DateTime.Now</h2></a>
<br />

    <h3><a style="color:blue">
        Total Courses surveyed = @ViewBag.TotalCourses<br />
        <br />
        <ul>
        Total Surveys Sent = @ViewBag.Sent<br />
        Total Surveys Completed = @ViewBag.Answered<br />
        Total Survey Active = @ViewBag.Active<br />
        </ul>
    </h3></a>
