@model IEnumerable<Survey.ViewModels.CourseStatusGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<h3>A status of S indicates that a survey has been sent for these courses, a status of X means these courses are excluded from having a survey sent.</h3>
<table>
    <tr>
        <th>
            Courses with Status
        </th>
        <th>
            Course Count
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCount)
        </td>
@*        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
*@    </tr>
}

</table>
