<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>


<h2><a style="color:Maroon">Statistics as of: @DateTime.Now.ToShortDateString() 
<br />
                            Department Overall Response Rate = @ViewBag.totPercent % of surveys completed</h2>

<html>   
    <head>     
        <script type='text/javascript' src='https://www.google.com/jsapi'></script>     
        <script type='text/javascript'>

            google.load('visualization', '1', { packages: ['gauge'] });
            google.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([['Label', 'Value'], ['Satisfaction', @ViewBag.Overall]]);
                var options = { width: 700, height: 260, min: 0, max:5, greenFrom: 4, greenTo: 5, yellowFrom: 3, yellowTo: 4, minorTicks: 5 };
                var chart = new google.visualization.Gauge(document.getElementById('chart_div')); chart.draw(data, options);
            }     
                
        </script>   
     </head>   
    <body>     
    <center><h4>Departmental Overall Satisfaction = @ViewBag.OverallPercent %</h4></center>
    <div id='chart_div' title="Departmental Overall Satisfaction"></div> 
