@model Survey.Models.ANSWER_SCALE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ANSWER_SCALE</legend>

    <div class="display-label">ANSWER</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ANSWER.answer_id)
    </div>

    <div class="display-label">submitted_answer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.submitted_answer)
    </div>

    <div class="display-label">survey_request_sent_id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.survey_request_sent_id)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.answer_scale_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
