@model IEnumerable<Survey.Models.ANSWER_SCALE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ANSWER
        </th>
        <th>
            submitted_answer
        </th>
        <th>
            survey_request_sent_id
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ANSWER.answer_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.submitted_answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.survey_request_sent_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.answer_scale_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.answer_scale_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.answer_scale_id })
        </td>
    </tr>
}

</table>
